In [9]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

Tara Nur Lita
I0322120
D

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [2]:
p           = float(11)
l           = float(1.99)
t           = float(25.87)
sisi_depan  = float(0)

sisi_depan = float(((p**2) + (t**2))**(1/2))
print("Diagonal sisi depan          = ", sisi_depan)
print("Diagonal sisi belakang       = ", sisi_depan)

sisi_samping = float((l**2 + t**2 )**(1/2))
print("Diagonal sisi samping kiri   = ", sisi_samping)
print("Diagonal sisi samping kanan  = ", sisi_samping)

sisi_bawah = float(((p**2) + (l**2))**(1/2))
print("Diagonal sisi bawah          = ", sisi_bawah) 

luas_permukaan = float(2 * ((t*l) + (p*t)) + (l*p))
print("Luas permukaan aquarium      = ", luas_permukaan)

Diagonal sisi depan          =  28.11150831954771
Diagonal sisi belakang       =  28.11150831954771
Diagonal sisi samping kiri   =  25.946425572706545
Diagonal sisi samping kanan  =  25.946425572706545
Diagonal sisi bawah          =  11.17855536283647
Luas permukaan aquarium      =  693.9925999999999

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [1]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

In [ ]:
Frank       = float(89)
Abagnale    = float(75)
Cobb        = float(90)
Andy        = float(85)
Ariadne     = float(70)

average     = float((Frank + Abagnale + Cobb + Andy + Ariadne)/5)
print("Nilai rata-rata seluruh mahasiswa= ", average)

data = (Frank , Abagnale , Cobb , Andy , Ariadne)
print("Nilai mahasiswa yang tertinggi adalah ", max(data))
print("Nilai mahasiswa yang terendah adalah ", min(data))

Nilai rata-rata seluruh mahasiswa=  81.8
Nilai mahasiswa yang tertinggi adalah  90.0
Nilai mahasiswa yang terendah adalah  70.0

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [14]:
list_aslab = {
    "Anggota 1" : {
    "nama"      : "Berlian Safri Prakoso",
    "nim"       : "I0320017",
    "kontak"    : "0858XXXXXXXX" ,
    } ,
    "Anggota 2" : {
    "nama"      : "Halidya Siti Hanifah", 
    "nim"       : "I0320044", 
    "kontak"    : "0878XXXXXXXX"
    } ,
    "Anggota 3" : {
    "nama"      : "Nurki Putra Mahardika", 
    "nim"       : "I0320076", 
    "kontak"    : "0877XXXXXXXX"
    } ,
    "Anggota 4" : {
    "nama"      : "Aji Manarul Aziz", 
    "nim"       : "I0320119", 
    "kontak"    : "0812XXXXXXXX"
    } ,
    "Anggota 5" : {
    "nama"      : "Alica Ayu Fitriani", 
    "nim"       : "I0320121", 
    "kontak"    : "0896XXXXXXXX"
    } ,
    "Anggota 6" : {
    "nama"      : "Dendy Halim Kusuma", 
    "nim"       : "I0320125", 
    "kontak"    : "0822XXXXXXXX"
    }
}

print("A. Nama Aslab: ")
print(list_aslab["Anggota 1"]["nama"])
print(list_aslab["Anggota 2"]["nama"])
print(list_aslab["Anggota 3"]["nama"])
print(list_aslab["Anggota 4"]["nama"])
print(list_aslab["Anggota 5"]["nama"])
print(list_aslab["Anggota 6"]["nama"])

surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]

list_aslab1 = {
    "nama"      : "Berlian Safri Prakoso",
    "nim"       : "I0320017",
    "kontak"    : "0858XXXXXXXX" ,
    } 
list_aslab2 = {
    "nama"      : "Halidya Siti Hanifah", 
    "nim"       : "I0320044", 
    "kontak"    : "0878XXXXXXXX"
    } 
list_aslab3 = {
    "nama"      : "Nurki Putra Mahardika", 
    "nim"       : "I0320076", 
    "kontak"    : "0877XXXXXXXX"
    } 
list_aslab4 = {
    "nama"      : "Aji Manarul Aziz", 
    "nim"       : "I0320119", 
    "kontak"    : "0812XXXXXXXX"
    } 
list_aslab5 = {
    "nama"      : "Alica Ayu Fitriani", 
    "nim"       : "I0320121", 
    "kontak"    : "0896XXXXXXXX"
    } 
list_aslab6 = {
    "nama"      : "Dendy Halim Kusuma", 
    "nim"       : "I0320125", 
    "kontak"    : "0822XXXXXXXX"
    }


print("\nB. Informasi Baru: ")
list_aslab1.update({"surel"  : "berlian@student.uns.ac.id"})
print(list_aslab1)
list_aslab2.update({"surel"  : "halidya@student.uns.ac.id"})
print(list_aslab2)
list_aslab3.update({"surel"  : "nurki@student.uns.ac.id"})
print(list_aslab3)
list_aslab4.update({"surel"  : "manarul@student.uns.ac.id"})
print(list_aslab4)
list_aslab5.update({"surel"  : "alica@student.uns.ac.id"})
print(list_aslab5)
list_aslab6.update({"surel"  : "dendy@student.uns.ac.id"})
print(list_aslab6)

A. Nama Aslab:
Berlian Safri Prakoso
Halidya Siti Hanifah
Nurki Putra Mahardika
Aji Manarul Aziz
Alica Ayu Fitriani
Dendy Halim Kusuma

B. Informasi Baru:
{'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}
{'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}
{'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}
{'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}
{'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}
{'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'}